body {
    background-color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: lightblue;
    border: black solid 1px;
}

h1,
p {
    text-align: center;
}

.intro_box,
.rule_box,
.quiz_box,
.results_box {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    align-items: center;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    background-color: white;
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz_box header {
    align-items: center;
    justify-content: space-between;
}

.timer {
    align-items: center;
    justify-content: space-between;
}