/*body {
    background-color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: lightblue;
    border: black solid 1px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1,
p {
    text-align: center;
}

.rule-box,
.quiz-box,
.results {
    background-color: white;
    width: 600px;
}